<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887805957212-bi9lm7p7cp3fefdoe1lr9ebpe80lqp1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887805957212-bi9lm7p7cp3fefdoe1lr9ebpe80lqp1b</string>
	<key>API_KEY</key>
	<string>AIzaSyAIH-8blUbSpxexQrjiFmeWxHq8_yExGeg</string>
	<key>GCM_SENDER_ID</key>
	<string>887805957212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matayuuu.mychat2App</string>
	<key>PROJECT_ID</key>
	<string>myapp-fbb4f</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-fbb4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887805957212:ios:c466d349105cfc03eac299</string>
	<key>DATABASE_URL</key>
	<string>https://myapp-fbb4f.firebaseio.com</string>
</dict>
</plist>